/* Coolors Exported Palette - coolors.co/4d2f00-405b00-51882a-779830-8dd809 */

/* HSL */
$color1: hsla(37%, 100%, 15%, 1);
$color2: hsla(78%, 100%, 18%, 1);
$color3: hsla(95%, 53%, 35%, 1);
$color4: hsla(79%, 52%, 39%, 1);
$color5: hsla(82%, 92%, 44%, 1);

/* RGB */
$color1: rgba(77, 47, 0, 1);
$color2: rgba(64, 91, 0, 1);
$color3: rgba(81, 136, 42, 1);
$color4: rgba(119, 152, 48, 1);
$color5: rgba(141, 216, 9, 1);